<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962472002785-7e9oc7fauahhf724qqinu76cbomi1vqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962472002785-7e9oc7fauahhf724qqinu76cbomi1vqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBpSxTzLzTGyex7O7gWrSrwBZ0B-MOiyiw</string>
	<key>GCM_SENDER_ID</key>
	<string>962472002785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectbesquare</string>
	<key>PROJECT_ID</key>
	<string>projectbesquare</string>
	<key>STORAGE_BUCKET</key>
	<string>projectbesquare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962472002785:ios:cb6d1ed0bb3eee009463a0</string>
</dict>
</plist>